*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
    color: blue;
    background: url("../img/bg.jpg");
}
.cs {
    display: flex;
    justify-content: start;
}
.cc{
    display: flex;
    justify-content: center;
}
.ce {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.ce>#statistics{
    text-align: center;
}
canvas{
    width: 600px;
    height: 600px;
}
span#whoWin{
    position: absolute;
    margin-top: 250px;
    font-size: 72px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: green;
    background-color: #fff;
}
p#whoMove{
    font-size: 72px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}