*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
    color: blue;
    background: url("../img/bg.jpg");
}
.cs {
    display: flex;
    justify-content: start;
}
.cc{
    display: flex;
    justify-content: center;
    width: 100%;
}
.ce {
    position: absolute;
    top: 100px;
    right: 20px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.ce>#statistics{
    text-align: center;
}
canvas{
    width: 600px;
    height: 600px;
    margin-left: 100px;
}
span#whoWin{
    position: absolute;
    margin-top: 250px;
    font-size: 72px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: green;
    background-color: #fff;
}
p#whoMove{
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1060px){
    .ce{
        top: 100px;
    }
    canvas{
        margin-left: 0;
    }
}

@media screen and (max-width: 1040px){
    .ce{
        position: relative;
        top: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    body{
        padding: 20px 5px 5px 20px;
    }
}

@media screen and (max-width: 660px){
    canvas{
        width: 100%;
        height: auto;
    }
}